# Site Specific config file #
#############################
config.py
*.conf

# .pyc files                #
#############################
*.pyc

# objects files for testing #
#############################
objects
objects/*
